body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.marker {
  transform: translate(-50%, -100%);
}

.marker.yellow {
  stroke: yellow;
}

.error {
  color: red;
}

.marker.red {
  stroke: red;
}

.popup {
  width: 30vw;
  padding: 1rem;
}

.popup img {
  width: auto;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.entry-form label,
.entry-form input,
.entry-form textarea,
.entry-form button {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}